
@font-face {
  font-family: 'gutcruncherregular';
  src: url('./fonts/gutcruncher-webfont.woff2') format('woff2'),
  url('./fonts/gutcruncher-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: 'gutcruncherregular';
}

body {
  margin: 0;
  padding: 0;
  background-image: url('./images/bb-bg.jpg');
  background-size: 100vw 100vh;

}
